{%extends 'adminNav.html' %}


{% block title%}
<title>Update Password</title>
{% endblock %}

{% block link%}
<!-- <link rel="stylesheet" href="/static/stylesheets/facultyDashboard.css"> -->
<link rel="stylesheet" href="/static/stylesheets/updateForm.css">
<!-- <link rel="stylesheet" href="/static/stylesheets/Common.css"> -->

{% endblock %}

{% block profile%}
{{name}}
{% endblock %}

{% block body %}
<div class="container">
    <form action="#" method="post">
        {% csrf_token %}
        <label>Current Password</label>
        <input type="password" name="currentPassword"><br><br>
        <label>New Password</label>
        <input type="password" name="newPassword"><br><br>
        <label>Confirm New Password</label>
        <input type="password" name="confirmPass"><br><br>
        
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}


{% block script%}
<!-- <script src="/static/scripts/facultyDashboard.js"></script> -->
{% endblock %}
