<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Sender</th>
            <th>Date</th>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {% for row in messages %}
        <tr>
            <td>{{row.sender}}</td>
            <td>{{row.date}}</td>
            <td>{{row.time}}</td>
            <td>{{row.message}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>