{% extends 'facultyNav.html' %}

{% block title%}
<title>My Courses</title>
{% endblock %}

{% block link%}
<link rel="stylesheet" href="/static/stylesheets/courses.css">
<link rel="stylesheet" href="/static/stylesheets/facultyDashboard.css">

{% endblock %}

{% block profile%}
{{name}}
{% endblock %}

{% block body %}
    <div class="courses-container">
        <h1>Courses</h1>
        <table>
            <tr>
                <th>Classroom</th>
                <th>Subject</th>
                <th>Start analytics generation</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.classname}}</td>
                <td>{{course.subject}}</td>
                <td><a href="/intelligence/start-tracking?classId={{course.classId}}&facultyId={{course.facultyId}}&dateAndTime={{course.dateAndTime}}" class="start-session-btn">Start Session</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block script%}
<script src="/static/scripts/courses.js"></script>
{% endblock %}