{% extends 'facultyNav.html' %}
{% block title%}
    <title>Messages</title>
{% endblock %}

{% block link%}
<link rel="stylesheet" href="/static/stylesheets/messages.css">
<link rel="stylesheet" href="/static/stylesheets/facultyDashboard.css">
{% endblock %}

{% block profile%}
{{name}}
{% endblock %}

{% block body %}
<body>
    <div class="messages-container">
        <h1>Messages</h1>
        <table>
            <tr>
                <th>Sender</th>
                <th>Date</th>
                <th>Time</th>
                <th>Message</th>
            </tr>
            {% for row in messages %}
            <tr>
                {% if row.sender == row.facultyId %}
                <td>You</td>
                {% else %}
                <td>{{row.sender}} (Admin)</td>
                {% endif %}
                <td>{{row.date}}</td>
                <td>{{row.time}}</td>
                <td>{{row.message}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <h1>Send Message to Admin</h1>
        <form action="/faculty/send-message" method="post">
            {% csrf_token %}
            <label>Maximum Message Size is 99</label>
            <input type="text" name="message" maxlength="99" placeholder="Enter your message" required>
            <input type="submit" value="Send Message">
        </form>
    </div>

{% endblock %}

{% block script%}
<script src="/static/scripts/messages.js"></script>
<script src="/static/scripts/facultyDashboard.js"></script>
{% endblock %}